* {
  margin: 0;
  padding: 0;
}

body {
  background-color: LightGray;
}

h2 {
  text-align: center;
  margin: 2rem 0;
  color: black;
}

.title-container {
  display: flex;
  justify-content: center;
}

.fit-content {
  width: fit-content;
}

.shadow-box {
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: white;
  box-shadow: 0.5rem 0.5rem 0.5rem black;
  border-radius: 1rem;
}
